<div class="form-row form-group-lg">
  <div class="col">
  <%= f.text_field :title, placeholder: "ie. Day One", class: "form-control"%><br>
  </div>
</div>
<div class="form-row form-group-lg">
  <div class="col">
  <%= f.date_field :date, class: "form-control" %>
  </div>
</div>
<br>
<div class="actions">
  <%= f.submit "Add New Day", class: 'btn btn-sm btn-primary' %>
</div>