<div class="form-container text-center">
  <h2>New Day</h2><br>

  <%= form_for @day, url: itinerary_days_path(@itinerary), method: :post do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>