/* Global */

h1, h2, h3, h4, h5, h6, .btn, .list-inline{
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #000;
  font-weight: 700;
}

p, .breadcrumb {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

body {
  background-color: rgba(219, 221, 255, 1);
}

a,  
a:hover {
  text-decoration: none!important;
}

a.btn-large:focus {
  color: white!important;
}

/* Home */
.intro-body {
  background: url("intro-wallpaper.jpg") no-repeat center center;
  padding: 20px 10px 60px 10px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}

.intro-info {
  position: relative;
  margin-left: 0px;
  margin-top: 15%;
  top: 42px;
}

.intro-info h1.homepage {
  color: #2FCCFE;
  font-size: 135px;
  font-family:'Pacifico', cursive;
  font-weight: 400;
}

.intro-info p {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 25px;
  padding: 10px;
}

@media handheld, only screen and (max-width: 500px) {
  .intro-info h1.homepage {
    font-size: 87px;
  }

  .intro-info p {
    font-size: 18px;
  }

}

.row.intro-btn {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* Nav */

.corner-logo, .corner-logo-2 a {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
}

.navbar-nav-2 a, .navbar-nav a {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: black;
}

/* Forms */

.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px!important;
}

.form-container {
  padding-top: 50px;
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
}

.home-bg {
  background: url("intro-bg.jpg") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
  background-size: cover;
  overflow: auto;
}

.form-wrapper {
  margin: 0 auto;
  margin-top: 100px;
  width: 500px;
  min-height: 550px;
  background: rgba(255, 255, 255, 0.80);
  padding-bottom: 30px;
  border-radius: 6px;
}

.form-wrapper.login {
  min-height: 500px;
}

form.new_user {
  margin-top: 45px;
}

.extra-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* containers */

.main-container {
  background-color: rgba(255, 255, 255, 0.74);
  width: 500px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.trip-container {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.day-list, .image-list {
  background-color: rgba(255, 255, 255, 0.74);
  width: 100%;
  padding: 10px 20px 20px 30px;
}

.form-container {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.74);
  width: 500px;
  padding: 10px 40px 10px 40px;
  text-align: center;
}

.form-container.register, .form-container.login {
  background-color: transparent;
}

.show-trips {
  background-color: rgba(255, 255, 255, 0.74);
  padding-top: 10px;
  padding-bottom: 10px;
}

.trip-row {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 0 !important;
  display: flex;
}

.travel-img img {
  margin: 3px 10px;
  height: 60px;
}

.delete-trip {
  display: flex;
  justify-content: center;
  margin: auto 0;
  font-size: 20px;
}

.fa-times {
  color: red;
}

.fa-edit, .fa-trash-alt, .plus-activity {
  color: #3498DB;
}

.pic-thumbnail {
  height: 100px;
}

#error_explanation h2 {
  font-size: 20px;
}

/* Buttons */

.btn-large {
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 15px 40px;
  letter-spacing: 1px;
  background-color: #2FCCFE;
  color: white;
  transition: background-color  0.3s ease;
}

.btn-large:hover {
  background-color: #27BCEB;
  color: white;
}

.btn-fb {
  width: 310px;
}

.btn-add {
  background-color: rgba(255, 46, 46, 1);
  width: 200px;
}

.btn-secondary {
  background-color: #ffffff;
  color: #231f20;
}

.external-login {
  background-color: #1877f2;
  padding: 10px;
  border-radius: 5px;
}

.external-login .text a {
  color: white;
}

.external-login .text {
  margin-left: 5px;
}

.external-login:hover {
  background-color: #156CDD;
}

/* Modal */

.modal-dialog {
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.modal-header {
  border-bottom: none!important;
}

.modal-header h1 {
  text-align: center;
}

.modal-content {
  width: 500px;
}

/* Other */

.remember-field label {
  padding-top: 10px;
}

p.signup-question, p.login-question {
  color: black;
  font-family: 'Raleway', sans-serif;
}

.signup-question {
  margin-top: 20px;
}

.breadcrumb {
  background-color: transparent;
}

.day-activities ul {
  list-style-type: none;
  padding: 0;
}

.day-activities {
  text-align: center;
}